.landing-page{
  height: 100vh;
}

.cat-image1{
  width: 41%;
  margin-left:15vh;
}

.text-container1{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: initial;
  gap:30px;
  padding-left: 7.5vw;
  padding-right: 12.5vw;
  padding-bottom: 50px;
}

.content-wrapper2{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top:0 ;
}

.content-wrapper2 p{
  font-family: 'DinRoundBold', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin:0;
}

.content-wrapper2 h1{
  font-family: 'DinRound', sans-serif;
  color: var(--secondary-dark-bg-color);
  font-size: 38px;
  margin:0;
}

@media (max-width: 900px) {
  .cat-image1{
      width: 80%;
      margin-left:0;
  }
  .content-wrapper2{
    flex-direction: column;
    
  }
  .content-wrapper2 p{
    font-size: 15px;
  }
}