:root{
    --main-bg-color: #80CED7;
    --main-light-bg-color: #CCDBDC;
    --main-dark-bg-color: #003249;
    --secondary-dark-bg-color: #007EA7;
    --secondary-light-bg-color: #9AD1D4;
    padding:0;
    margin:0;
}

body{
    margin:0;
}